In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.set_option("display.max_columns", 5000)
pd.set_option("display.max_rows", 5000)
pd.set_option("display.width", 5000)

In [3]:
# dataset link: https://www.kaggle.com/datasets/imdevskp/corona-virus-report?select=covid_19_clean_complete.csv
df_covid = pd.read_csv("/Users/neha.p/Desktop/Unmessenger_Internship/Major_project_3/covid_19_dataset/covid_19_clean_complete.csv")
df_covid.sample(5)

      Province/State Country/Region        Lat        Long        Date  Confirmed  Deaths  Recovered  Active       WHO Region
35755            NaN     Tajikistan  38.861000   71.276100  2020-06-06       4453      48       2583    1822           Europe
18441            NaN        Nigeria   9.082000    8.675300  2020-04-01        174       2          9     163           Africa
17098            NaN        Ireland  53.142400   -7.692100  2020-03-27       2121      22          5    2094           Europe
37877            NaN     Cabo Verde  16.538800  -23.041800  2020-06-15        760       7        340     413           Africa
16058            NaN          Japan  36.204824  138.252924  2020-03-23       1144      41        235     868  Western Pacific

In [4]:
df_covid.shape

(49068, 10)

In [5]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

The data types seems to be correct. The "Province/State" seems to be mostly empty.

In [6]:
df_covid.describe()

                Lat          Long     Confirmed         Deaths     Recovered        Active
count  49068.000000  49068.000000  4.906800e+04   49068.000000  4.906800e+04  4.906800e+04
mean      21.433730     23.528236  1.688490e+04     884.179160  7.915713e+03  8.085012e+03
std       24.950320     70.442740  1.273002e+05    6313.584411  5.480092e+04  7.625890e+04
min      -51.796300   -135.000000  0.000000e+00       0.000000  0.000000e+00 -1.400000e+01
25%        7.873054    -15.310100  4.000000e+00       0.000000  0.000000e+00  0.000000e+00
50%       23.634500     21.745300  1.680000e+02       2.000000  2.900000e+01  2.600000e+01
75%       41.204380     80.771797  1.518250e+03      30.000000  6.660000e+02  6.060000e+02
max       71.706900    178.065000  4.290259e+06  148011.000000  1.846641e+06  2.816444e+06

In [7]:
df_covid["active cases"] = df_covid["Confirmed"] - df_covid["Deaths"] - df_covid["Recovered"]

In [8]:
df_covid.sample(5)

      Province/State    Country/Region        Lat       Long        Date  Confirmed  Deaths  Recovered  Active             WHO Region  active cases
17925            NaN  Papua New Guinea  -6.314993  143.95555  2020-03-30          1       0          0       1        Western Pacific             1
37096            NaN          Cameroon   3.848000   11.50210  2020-06-12       8681     212       4836    3633                 Africa          3633
23653            NaN             Nepal  28.166700   84.25000  2020-04-21         43       0          4      39        South-East Asia            39
23635            NaN           Lebanon  33.854700   35.86230  2020-04-21        677      21        108     548  Eastern Mediterranean           548
40280            NaN           Croatia  45.100000   15.20000  2020-06-24       2388     107       2145     136                 Europe           136

In [9]:
df_covid[df_covid["Active"]!=df_covid["active cases"]].shape

(0, 11)

Seems like all the values in active cases are correct meaning we can remove this column

In [19]:
df_covid.drop(["active cases"], axis=1, inplace=True)

In [11]:
for column in df_covid.columns:
    print("Unique values in column {0}: {1}".format(column,len(df_covid[column].unique())))
    if(len(df_covid[column].unique())<20):
        print(df_covid[column].unique())

Unique values in column Province/State: 79
Unique values in column Country/Region: 187
Unique values in column Lat: 260
Unique values in column Long: 261
Unique values in column Date: 188
Unique values in column Confirmed: 10861
Unique values in column Deaths: 3640
Unique values in column Recovered: 7609
Unique values in column Active: 8641
Unique values in column WHO Region: 6
['Eastern Mediterranean' 'Europe' 'Africa' 'Americas' 'Western Pacific'
 'South-East Asia']
Unique values in column active cases: 8641

In [13]:
(df_covid==0).sum(axis=0)

Province/State        0
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed         10059
Deaths            20167
Recovered         16659
Active            14151
WHO Region            0
active cases      14151
dtype: int64

The dataset doesn't need any further cleaning