## Assignment 1
**Deadline**: 23rd September 2024

This assessment consists of 20 MongoDB queries, ranging from easy to hard. You are required to use the following sample data:

```json
{
    "students": [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]
}

```

Please submit your solutions by the given deadline.

1. Insert the given sample data into a MongoDB collection called 'students'.

In [3]:
# Importing package
import pymongo

# Connect to MongoDB
client = pymongo.MongoClient("mongodb://localhost:27017/")

# Accessing the Database
mydb = client["Unmessenger"]

# Creating Collection
collection = mydb.Assignment

# Accessing Collection
collection = mydb["students"]

students = [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]

In [4]:
collection.insert_many(students)

InsertManyResult([ObjectId('66f595151f7832391c385609'), ObjectId('66f595151f7832391c38560a'), ObjectId('66f595151f7832391c38560b'), ObjectId('66f595151f7832391c38560c'), ObjectId('66f595151f7832391c38560d')], acknowledged=True)

2. Write a query to find all students who have a 'math_score' greater than 80.

In [7]:
for student in collection.find({"math_score": {"$gt" : 80}}):
    print(student)

{'_id': ObjectId('66f595151f7832391c385609'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66f595151f7832391c38560b'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

3. Write a query to find students whose 'age' is less than 23.

In [13]:
for student in collection.find({"age": {"$lt" : 23}}):
    print(student)

{'_id': ObjectId('66f595151f7832391c38560a'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f595151f7832391c38560c'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

4. Write a query to return only the 'name' and 'math_score' of all students.

In [12]:
for student in collection.find({}, {"_id": 0, "name": 1, "math_score": 1}):
        print(student)

{'name': 'Rohit', 'math_score': 85}
{'name': 'Eram', 'math_score': 78}
{'name': 'Madan', 'math_score': 95}
{'name': 'Uvaish', 'math_score': 60}
{'name': 'Neha', 'math_score': 72}

5. Write a query to find students from the city 'New York'.

In [16]:
for student in collection.find({"city" : "New York"}):
    print(student)

{'_id': ObjectId('66f595151f7832391c385609'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}

6. Write a query to update the 'physics_score' of 'Neha' to 85.

In [22]:
for student in collection.find({"name": "Neha"}, {"_id": 0, "name": 1, "physics_score": 1}):
    print(student)

collection.update_many({"name": "Neha"}, {"$set": {"physics_score": 85}})

for student in collection.find({"name": "Neha"}, {"_id": 0, "name": 1, "physics_score": 1}):
    print(student)

{'name': 'Neha', 'physics_score': 80}
{'name': 'Neha', 'physics_score': 85}

7. Write a query to delete the student 'Uvaish' from the collection.

In [23]:
collection.delete_one({"name": "Uvaish"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

8. Write a query to find all students where 'math_score' is between 70 and 90 (inclusive).

In [30]:
query = {"$and" :
            [ 
                {"math_score": {"$gt": 70}},
                {"math_score": {"$lte": 90}}
            ]
        }
for student in collection.find(query, {"_id":0, "name":1, "math_score":1}):
    print(student)

{'name': 'Rohit', 'math_score': 85}
{'name': 'Eram', 'math_score': 78}
{'name': 'Neha', 'math_score': 72}

9. Write a query to find students whose 'math_score' is greater than 'physics_score'.

In [32]:
for student in collection.find({"$where": "this.math_score > this.physics_score"}):
    print(student)

{'_id': ObjectId('66f595151f7832391c38560a'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f595151f7832391c38560b'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

10. Write a query to return students sorted by 'math_score' in descending order.

In [38]:
for student in collection.find().sort({"name":1}):
    print(student)

{'_id': ObjectId('66f595151f7832391c38560a'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f595151f7832391c38560b'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66f595151f7832391c38560d'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix'}
{'_id': ObjectId('66f595151f7832391c385609'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}

11. Write a query using the aggregation framework to calculate the average 'math_score' of all students.

In [54]:
pipeline = [
            {
                "$group": {
                    "_id": "null",
                    "avgMathScore": {"$avg": "$math_score"}
                }
            },
            {
                "$project": {
                    "_id": 0
                }
            }
        ]

for student in collection.aggregate(pipeline):
    print(student)

{'avgMathScore': 82.5}

12. Write a query to group students by 'city' and count the number of students in each city.

In [60]:
pipeline = [
    {
        "$group":
        {
            "_id": "$city",
            "count": {"$sum": 1}
        }
    }
]

for student in collection.aggregate(pipeline):
    print(student)

{'_id': 'Phoenix', 'count': 1}
{'_id': 'New York', 'count': 1}
{'_id': 'Los Angeles', 'count': 1}
{'_id': 'Chicago', 'count': 1}

13. Write a query to find students who either have 'math_score' greater than 80 or 'physics_score' greater than 85.

In [62]:
query = {
        "$or": [
            {"math_score": {"$gt": 80} },
            {"physics_score": {"$gt": 85} }
        ]
    }

for student in collection.find(query):
    print(student)

{'_id': ObjectId('66f595151f7832391c385609'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66f595151f7832391c38560b'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

14. Write a query to find students whose age is exactly 23 and live in 'Phoenix'.

In [65]:
query = {
    "$and": [
        {"age": {"$eq": 23} },
        {"city": {"$eq": "Phoenix"} }
    ]
}

for student in collection.find(query):
    print(student)

{'_id': ObjectId('66f595151f7832391c38560d'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix'}

15. Write a query to find students whose 'math_score' is not equal to 85.

In [66]:
for student in collection.find({"math_score": {"$ne": 85}}):
    print(student)

{'_id': ObjectId('66f595151f7832391c38560a'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f595151f7832391c38560b'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66f595151f7832391c38560d'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix'}

16. Write a query to find students whose 'name' starts with the letter 'A'.

In [70]:
for student in collection.find({"name": {"$regex": "A.*"}}):
    print(student)

17. Write a query to find students whose 'city' is neither 'New York' nor 'Los Angeles'.

In [71]:
for student in collection.find({"city": {"$nin": ["New York", "Los Angeles"]}}):
    print(student)

{'_id': ObjectId('66f595151f7832391c38560b'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66f595151f7832391c38560d'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix'}

18. Write a query to update all students with 'age' greater than 22 to add a new field 'graduated': true.

In [81]:
print("Before: \n")
for student in collection.find():
    print(student)

collection.update_many({"age": {"$gt": 22}}, {"$set": {"graduated": True}})

print("\nAfter: \n")
for student in collection.find():
    print(student)

Before:

{'_id': ObjectId('66f595151f7832391c385609'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66f595151f7832391c38560a'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f595151f7832391c38560b'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66f595151f7832391c38560d'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix'}

After:

{'_id': ObjectId('66f595151f7832391c385609'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66f595151f7832391c38560a'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f595151f7832391c38560b'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66f595151f7832391c38560d'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix', 'graduated': True}

19. Write a query to remove the 'physics_score' field for students who live in 'Chicago'.

In [82]:
print("Before: \n")
for student in collection.find():
    print(student)

collection.update_many({"city": {"$eq": "Chicago"}}, {"$unset": {"physics_score": ""}})

print("\nAfter: \n")
for student in collection.find():
    print(student)

Before:

{'_id': ObjectId('66f595151f7832391c385609'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66f595151f7832391c38560a'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f595151f7832391c38560b'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66f595151f7832391c38560d'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix', 'graduated': True}

After:

{'_id': ObjectId('66f595151f7832391c385609'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66f595151f7832391c38560a'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f595151f7832391c38560b'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66f595151f7832391c38560d'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix', 'graduated': True}

20. Write a query to find the student with the highest 'math_score'.

In [96]:
for student in collection.find().sort({"math_score":-1}).limit(1):
    print(student)

{'_id': ObjectId('66f595151f7832391c38560b'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago', 'graduated': True}